:root {
  --bg: #0f172a;
  --box: #1e293b;
  --heading: #e5e7eb;
  --Winner: #facc15;
  --X: #22c55e;
  --O: #ef4444;
  --Resetbg: #334155;
  --Resetbr: #475569;
  --ResetTxt: #e5e7eb;
  --Resethvr: #1e293b;
  --hvrclr: #64748b;
  --Themebtn: #afb5bd;
}
[data-theme = "Light"] {
  --bg: #e2e6eb;
  --box: #cfd2d6;
  --heading: #0f172a;
  --Winner: #ba9604;
  --X: #0b602a;
  --O: #9a0909;
  --Resetbg: #e4e9f0;
  --Resetbr: #60a5fa;
  --ResetTxt: #0f172a;
  --Resethvr: #60a5fa;
  --hvrclr: #414d5e;
  --Themebtn: #ea8c00;
  --Themebdr: #f37a00;
  --display: none
}
body {
  background-color: var(--bg);
}
.Winner {
   color: var(--Winner)
}
.Container {
  height: 70vh;
  width: 43vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid #334155;
  padding: 5px;
}
.Parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Heading {
  color: var(--heading);
  text-shadow: 0 0 8px rgba(56,189,248, 0.4);
}
.Boxes {
  height: 23vh;
  width: 14vw;
  background-color: var(--box);
  border: 2px solid var(--box);
  border-radius: 9px;
  font-family: 'Times New Roman', Times, serif;
}
.Tie {
  color: #94a3b8;
  letter-spacing: 1px;
  opacity: 0.9;
}
.X {
  color: var(--X);
  font-size: 10vh;
}
.O{
  color: var(--O);
  font-size: 10vh;
}
.TurnX {
  color: var(--X);
}
.TurnO {
  color: var(--O);
}
.Reset {
  margin-top: 1%;
  padding: 10px 20px;
  background-color: var(--Resetbg);
  border: 2px solid  var(--Resetbr);
  color: var(--ResetTxt);
  border-radius: 7px;
  font-weight: bold;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
.Reset:active{
  background-color: var(--Resethvr);
  color: var(--hvrclr);
  padding: 8px 15px;
}
@media(max-width : 500px){
  .Container{
    height: 40vh;
    width: 80vw;
    margin-bottom: 3vh;
  }
  .Boxes{
    width: 25vw;
    height: 13vh;
  }
  .X{
    font-size: 5vh;
  }
  .O{
    font-size: 5vh;
  }
}
.Theme {
  position: absolute;
  top: 5%;
  left: 2%;
  padding: 10px 10px;
  background-color: var(--Themebtn);
  border: 2px solid var(--Themebdr);
  border-radius: 50%;
}
.Theme2 {
  display: var(--display);
  position: absolute;
  top: 4.6%;
  left: 2.8%;
  padding: 10px 10px;
  background-color: var(--bg);
  border: 2px solid var(--bg);
  border-radius: 50%;
}
